.cardápio{
    background-color: rgba(71, 43, 12, 0.507);
    height: 100vh;
   
}
.opcoes{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.219);
}

h1{
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.219);
    padding: 10px;
}

h2{
    padding: 10px;
}



#paragrafoopcao1{
    text-align: left;
}



.paragrafomenu{
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 1em;
    color: white;
    margin: auto;
}

#botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}

div > #menu{
    
    cursor: pointer;
    width: 40px;
    
}

#voltar{

     display: block;
    cursor: pointer;
    width: 30px;
    text-decoration: none;
    color: black;
}

#voltar:hover{
    color: blue;
}









