.cardápio{
    background-color: rgba(71, 43, 12, 0.61);
    height: 100vh;
   
}
.opcoes{
    display: block;
    padding-top: 20px;
}

h1{
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.219);
    padding: 10px;
}


#opcao1{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.219);
}

#paragrafoopcao1{
    text-align: left;
}

#opcao2{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.219);
}

#opcao3{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.219);
}

.paragrafomenu{
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 1em;
    color: white;
    margin: auto;
}










