body{
    display: block;
    width: 100%;
    
}

header{
    width: 100vw;
}    



.cardápio{
    background-color: rgba(71, 43, 12, 0.507);
    
   
}
.opcoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.219);
    
   
    
}

main{
    height:100%;
    width: 100vw;

    
}


.secao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.219);
    padding: 10px;
}

h2{
    padding: 10px;
}



#paragrafoopcao1{
    text-align: left;
}



.paragrafomenu{
    display: block;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.4em;
    color: white;
    margin: auto;
}

#botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}

div > #menu{
    
    cursor: pointer;
    width: 40px;
    
}

.add{
    display: block;
    margin: auto;
    width: 40px;
    height: 30px;
    padding: 0px;
    font-size: 20pt;
    
}

.add:hover{
    background-color: orange;
    color: white;
    cursor: pointer;
}

#voltar{

     display: block;
    cursor: pointer;
    width: 30px;
    text-decoration: none;
    color: black;
}

#voltar:hover{
    color: blue;
}

.carrinho{
    display: none;
    
    color: white;
    text-align: left;
    
    padding-top: 50px;
    border: 1px ;
    
 
   

}

.carrinho > nav{
    background-color: rgb(50, 79, 0);
    
}


.carrinho > nav>  table{
    display: block;
    text-align: center;
    
    border: 1px solid rgba(0, 0, 0, 0.011);
    
    background-color: rgb(50, 79, 0);
    border-collapse: collapse;
    position: fixed;
    bottom: 0;
    left: 0%;
    height: 100vh;
   
    
}

#sacola{
    position: fixed;
    bottom: 0;
    left: 0;
    left: 10%;
    margin-left: 10px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    padding: 10px;
    width: 40px;
    background-color: rgba(255, 128, 0, 0.819);
    opacity: 40%;
    
    
     
    
 }
 
 #sacola:hover{
     cursor: pointer;
     background-color: rgb(231, 224, 213);
     margin-bottom: 25px;
     }

.fechar{
        width: 50px;
        height: 20px;
        
    }
.fechar:hover{
        background-color: red;
    }
    



 td {
    background-color: rgb(50, 79, 0);
    border: 1px solid rgba(0, 0, 0, 0.121);
    padding: 10px;
   
}

.remover{
    padding: 1px;
    border-radius: 10%;
    background-color: red;
    color: white;
    box-shadow: 1px 1px 1px black;
    width: 20px;
    
    
}

.remover:hover{
    cursor: pointer;
    background-color: white;
    color: red;
    position: relative;
    
}

.quantidade{
    width: 50px;
}

.money{
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 1.5em;
}

.botaofinalizar{
    
    border-radius: 5px;
    width: 80px;
    padding-right: 80px;
    
}

.botaofinalizar:hover{
    background-color: rgb(64, 42, 2);
    color: white;
    cursor: pointer;
}













