@charset "UTF 8";

*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(192, 122, 43);
    background-image: url(imagens/backgroundburger.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: rgba(243, 150, 44, 0.89);
    padding: 30px;

}

header > h1 {

    color: white;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.26);

    
}

li {
    list-style-type: none;
    
    
}

#itens{
    display: none;
  
}

header > nav > ul > li > a {
    display: block;
    background-color: rgba(255, 0, 0, 0.801);
    text-align: center;
    padding: 5px;
    margin-top: 1px;
    line-height: 30px;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    

}

header > #itens > ul > li> a:hover {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

#menu{
    display: block;
    cursor: pointer;
    width: 40px;
    
}

#menu:hover{
    position: relative;
    left: 1px;
}

main{
    display: block;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.74);
    padding: 1px;
    height: 100vh;

    
}

main > h1{

    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.747);
   font-size: 2em;
   padding: 10px;
   text-align: center;

}

.textos{

    
    margin-top: 10px;
    padding: 10px;
 
    color: rgb(255, 255, 255);
    font-size: 2em;
    text-align: center;
    
} 

#textos > p {
    padding: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.733);
}

main > section > a {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.11);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.425);
    border: 1px solid black;
    
    text-align: center;
    text-decoration: none;
    color: white;
    height: 80px;
    
}

#cardapio{
    margin-top: 27px;
}
main > section.fundoop :hover{
    background-color: rgba(122, 77, 24, 0.945);
    
    
}

main > a > p {
    padding: 10px;
}



.imagehamb{

    border-radius:20px;
    margin: auto;
    padding: 10px;
    
    width: 100px;

}

.subtitulomenu{
    display: inline-block;
    color: white;
    font-size: 1.5em;
    
}


.opcoes{
    display: flex;
    flex-direction:column;
    
}


.secao {
    display: flex;
    flex-direction: column;
   
}

#voltar{
    
    list-style-type: none;
}